---
import type { CollectionEntry } from "astro:content";
import * as fns from "date-fns";

type Props = CollectionEntry<"articles">;

const { slug, collection, data } = Astro.props;

const createdAt = fns.format(data.createdAt, "yyyy/MM/dd");
const updatedAt = fns.format(data.updatedAt, "yyyy/MM/dd");
const { title, category, description } = data;
const link = `/${collection}/${slug}`;
---

<a href={link}>
  <div class="px-5 py-8 flex flex-col gap-4 bg-base-200 rounded-xl hover:drop-shadow-lg h-full">
    <span class="text-xs">{createdAt} - {updatedAt}</span>
    <h3 class="font-title-xs-sp">{title}</h3>
    <div class="flex gap-2 flex-wrap">
      {category.map((c) => <span class="badge badge-secondary badge-outline p-3">{c}</span>)}
    </div>
    <p class="font-body-md">{description}</p>
  </div>
</a>
